PORT=3000
NODE_ENV=development

SG_SECRET=SG.your_sendgrid_api_key_here

PG_HOST="127.0.0.1"
PG_PORT=5432
PG_DATABASE="postgres"
PG_USERNAME="postgres"
PG_PASSWORD="root"

# seed
DEFAULT_PASSWORD="DefaultPassword987654321"

# seed
DEFAULT_PASSWORD="DefaultPassword987654321"

ACCESS_TOKEN_SECRET=your_access_token_secret
REFRESH_TOKEN_SECRET=your_refresh_token_secret

URL_DEV=http://localhost:3000
URL_PROD=https://your-production-url.com