{
    "parserOptions": {
        "ecmaVersion": 2020,
        "sourceType": "module"
    },
    "parser": "@typescript-eslint/parser",
    "extends": [
        "standard",
        "eslint:recommended",
        "plugin:@typescript-eslint/recommended",
        "plugin:prettier/recommended"
    ],
    "env": {
        "node": true,
        "jest": true
    },
    "rules": {
        "camelcase": 0,
        "indent": 0,
        "no-tabs": 0,
        "@typescript-eslint/no-explicit-any": 0
    },
    "settings": {
        "jest": {
            "version": 26
        }
    }
}